.Selfie{
    width:200px;
    height: 250px;
    border-radius: 220px;
}
.hero{
    min-height: 45vh;
    padding: 3rem;
}
.Social-Media{
    padding: 20px;
    margin: 10px;
}
.container-fluid{
    background: linear-gradient(160deg,#ffffff,#A9CEF4,#A9CEF4,#7EA0B7,#7EA0B7,#ffffff);
}
