.BarChart {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 8%;
    padding: 1rem;
    color: #0466C8;
}
.Title-SKills{
    display: inline-flex;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 2rem;
}

.card {
  border-radius: 10px;
  border: none;
  background: white;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Ensure table cells have a fixed width */
}

.table td, .table th {
  padding: 1rem;
  vertical-align: middle;
}

.table td {
    padding: 1rem 2rem;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
  .table td, .table th {
    padding: 0.75rem;
  }

  .table td {
    padding: 0.75rem 1.5rem;
  }

  .skill-name {
    width: 120px; /* Further adjust width for smaller screens */
  }

  .skill-progress {
    width: calc(100% - 120px); /* Further adjust width for smaller screens */
  }
}

/* Media query for very small screens */
@media (max-width: 560px) {
  .table td, .table th {
    padding: 0.5rem;
  }

  .table td {
    padding: 0.5rem 1rem;
  }

  .skill-name {
    width: 100px; /* Further adjust width for very small screens */
  }

  .skill-progress {
    width: calc(100% - 100px); /* Further adjust width for very small screens */
  }
}

.table td:first-child {
    padding-right: 4rem; }


.table tr:hover {
    background-color: rgba(4, 102, 200, 0.05);}


.skill-name {
    padding-right: 1rem !important; /* Reduce padding for smaller screens */
    font-weight: 500;
    width: 150px; /* Adjust width for better fit */
}

.skill-progress {
    width: calc(100% - 150px); /* Adjust width for better fit */
    padding-left: 1rem !important; /* Reduce padding for smaller screens */
}
