.BarChart {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 8%;
    padding: 1rem;
}
.Title-SKills{
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
}